Ingestion WF.json
{
  "name": "Ingestion WF",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        0
      ],
      "id": "906bf071-707d-493e-89b1-b591a7d325e2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1olUWBiXu8IVWySsWpCbDzodsxTgRSxBl",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        128,
        0
      ],
      "id": "052b5852-4e0d-4eab-a1ce-c1c486c2bd90",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DtA0Eut6oWyNTC1Q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        288,
        0
      ],
      "id": "dd37cbfb-d84f-41c5-b051-63347bffeaf9",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f7b75162-30ed-472e-8357-76388fb205d7",
              "name": "source_file_name",
              "value": "ads_spend.csv",
              "type": "string"
            },
            {
              "id": "40ed7843-fcf0-4b32-a8a5-2c1cb9a37188",
              "name": "unique_key",
              "value": "={{ $json.date }}-{{ $json.campaign }}-{{ $json.spend }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        0
      ],
      "id": "02656a7e-ac65-43a9-bb51-a26f671920df",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "tableId": "spends_report",
        "dataToSend": "autoMapInputData",
        "inputsToIgnore": "unique_key"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        848,
        0
      ],
      "id": "34d528dc-7d23-473e-a554-428c2992e25c",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "BOSMfacQuqzwH6YE",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{ $json.unique_key }}",
        "options": {
          "scope": "workflow",
          "historySize": 50000
        }
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        640,
        0
      ],
      "id": "1d05d0fc-195b-47cb-bda3-97cd6ea9794a",
      "name": "Remove Duplicates"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0df94c5c-42d8-4c0e-9d07-1f4157a6d1ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f80c9c3cfeaa673576a78d5b7a1c0da076b9ceb73d6fac38370af5d56989d98e"
  },
  "id": "7F7xPkPv19rxSgPR",
  "tags": []
}